openapi: 3.2.0
info:
  title: Introvoke company theme API
  description: This is the documentation required to access the Introvoke API. It contains information on how to create Companies, add events to each company and manage the presenters.
  termsOfService: https://www.introvoke.com/terms/
  contact:
    email: support@introvoke.com
  version: 1.0.0
servers:
- url: https://api.introvoke.com/api/v1
security:
- bearerAuth: []
tags:
- name: company theme
paths:
  /v3/companies/{companyId}/theme:
    get:
      description: Returns the event customization theme for all events for the company based on the business rules.
      tags:
      - company theme
      security: []
      parameters:
      - in: path
        name: companyId
        required: true
        description: Unique ID of the company
        schema:
          type: string
      responses:
        '200':
          description: event customization theme for the all events for the company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrovokeEventTheme'
        '404':
          description: company id is incorrect or user does not have access the company.
      summary: Get companies by company id theme
      x-summary-source: derived
      operationId: getV3CompaniesByCompanyIdTheme
      x-operation-id-source: derived
components:
  schemas:
    IntrovokeEventTheme:
      type: object
      properties:
        name:
          type: string
        defaultTheme:
          type: boolean
        brandColors:
          type: array
          items:
            type: string
          maxItems: 3
          minItems: 2
        fonts:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              fontName:
                type: string
              fontUrl:
                type: string
              isPrimary:
                type: boolean
            required:
            - fontName
            - fontUrl
            - isPrimary
            additionalProperties: false
        virtualStage:
          type: object
          properties:
            background:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            watermark:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            countdown:
              type:
              - object
              - 'null'
              properties:
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            presenter:
              type:
              - object
              - 'null'
              properties:
                glowColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        networkingHub:
          type: object
          properties:
            circleGraphics:
              type:
              - object
              - 'null'
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            joinNetworking:
              type:
              - object
              - 'null'
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            returnToStage:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        warningNotices:
          type: object
          properties:
            buttonColor:
              type:
              - string
              - 'null'
          additionalProperties: false
        chat:
          type: object
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            colors:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - 'null'
            badge:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        participantList:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
              deprecated: true
            showTabFor:
              type:
              - number
              - 'null'
              description: Expects a number for the user role. 0 - Host, 1 - Host & Presenter, 2 - Everyone
            showCountFor:
              type:
              - number
              - 'null'
              description: Expects a number for the user role. 0 - Host, 1 - Host & Presenter, 2 - Everyone
          additionalProperties: false
        qna:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        polls:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        privateMessages:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        poweredByIntrovokeLabel:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        chatReactions:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            reactions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  reaction:
                    type: string
                  image:
                    type: string
                  label:
                    type:
                    - string
                    - 'null'
                maxItems: 7
                required:
                - reaction
                - image
                additionalProperties: false
          additionalProperties: false
        liveReactions:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            reactions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  reaction:
                    type: string
                  image:
                    type: string
                  label:
                    type:
                    - string
                    - 'null'
                maxItems: 7
                required:
                - reaction
                - image
                additionalProperties: false
          additionalProperties: false
        emailSettings:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
            name:
              type: string
            when:
              type: string
            replayToEmail:
              type:
              - string
              - 'null'
            fromEmail:
              type:
              - string
              - 'null'
            fromName:
              type:
              - string
              - 'null'
            isCustom:
              type: boolean
            activated:
              type: boolean
            emailTemplate:
              type: object
              properties:
                name:
                  type: string
                subject:
                  type:
                  - string
                  - 'null'
                hoursToWait:
                  type:
                  - number
                  - 'null'
                htmlBody:
                  type:
                  - string
                  - 'null'
                sendGridTemplateId:
                  type:
                  - string
                  - 'null'
                bodyText:
                  type:
                  - string
                  - 'null'
      additionalProperties: false
      required:
      - name
      - defaultTheme
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
