openapi: 3.2.0
info:
  title: Introvoke Platform API
  description: This is the documentation required to access the Introvoke API. It contains information on how to create Companies, add events to each company and manage the presenters.
  termsOfService: https://www.introvoke.com/terms/
  contact:
    email: support@introvoke.com
  version: 1.0.0
servers:
- url: https://api.introvoke.com/api/v1
security:
- bearerAuth: []
tags:
- name: Platform
paths:
  /customizations/events/default:
    get:
      description: 'Returns the default event customization theme that applies to all events, unless overridden at the company and event level.

        This endpoint can be used for clients which update to theme or for preview. The default theme can be used as a starting point to edit new themes.'
      tags:
      - Platform
      responses:
        '200':
          description: default platform event customization theme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrovokeEventTheme'
      summary: Get customizations events default
      x-summary-source: derived
      operationId: getCustomizationsEventsDefault
      x-operation-id-source: derived
  /customizations/events/suggested-color-pallets:
    get:
      description: Returns an array of color pallets (with primary, secondary and tertiary colors) that can be used in the editor. This endpoint can be used for clients which update to theme or for preview.
      tags:
      - Platform
      responses:
        '200':
          description: suggested color pallets
          content:
            application/json:
              schema:
                type: array
                items:
                  type:
                  - array
                  - 'null'
                  items:
                    type:
                    - string
                    - 'null'
                    minItems: 2
                    maxItems: 3
      summary: Get customizations events suggested color pallets
      x-summary-source: derived
      operationId: getCustomizationsEventsSuggestedColorPallets
      x-operation-id-source: derived
components:
  schemas:
    IntrovokeEventTheme:
      type: object
      properties:
        name:
          type: string
        defaultTheme:
          type: boolean
        brandColors:
          type: array
          items:
            type: string
          maxItems: 3
          minItems: 2
        fonts:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              fontName:
                type: string
              fontUrl:
                type: string
              isPrimary:
                type: boolean
            required:
            - fontName
            - fontUrl
            - isPrimary
            additionalProperties: false
        virtualStage:
          type: object
          properties:
            background:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            watermark:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            countdown:
              type:
              - object
              - 'null'
              properties:
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            presenter:
              type:
              - object
              - 'null'
              properties:
                glowColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        networkingHub:
          type: object
          properties:
            circleGraphics:
              type:
              - object
              - 'null'
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            joinNetworking:
              type:
              - object
              - 'null'
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            returnToStage:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        warningNotices:
          type: object
          properties:
            buttonColor:
              type:
              - string
              - 'null'
          additionalProperties: false
        chat:
          type: object
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            colors:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - 'null'
            badge:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        participantList:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
              deprecated: true
            showTabFor:
              type:
              - number
              - 'null'
              description: Expects a number for the user role. 0 - Host, 1 - Host & Presenter, 2 - Everyone
            showCountFor:
              type:
              - number
              - 'null'
              description: Expects a number for the user role. 0 - Host, 1 - Host & Presenter, 2 - Everyone
          additionalProperties: false
        qna:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        polls:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        privateMessages:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        poweredByIntrovokeLabel:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        chatReactions:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            reactions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  reaction:
                    type: string
                  image:
                    type: string
                  label:
                    type:
                    - string
                    - 'null'
                maxItems: 7
                required:
                - reaction
                - image
                additionalProperties: false
          additionalProperties: false
        liveReactions:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            reactions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  reaction:
                    type: string
                  image:
                    type: string
                  label:
                    type:
                    - string
                    - 'null'
                maxItems: 7
                required:
                - reaction
                - image
                additionalProperties: false
          additionalProperties: false
        emailSettings:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
            name:
              type: string
            when:
              type: string
            replayToEmail:
              type:
              - string
              - 'null'
            fromEmail:
              type:
              - string
              - 'null'
            fromName:
              type:
              - string
              - 'null'
            isCustom:
              type: boolean
            activated:
              type: boolean
            emailTemplate:
              type: object
              properties:
                name:
                  type: string
                subject:
                  type:
                  - string
                  - 'null'
                hoursToWait:
                  type:
                  - number
                  - 'null'
                htmlBody:
                  type:
                  - string
                  - 'null'
                sendGridTemplateId:
                  type:
                  - string
                  - 'null'
                bodyText:
                  type:
                  - string
                  - 'null'
      additionalProperties: false
      required:
      - name
      - defaultTheme
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
