openapi: 3.0.1
info:
  title: Introvoke Analytics company theme fonts API
  description: This is the documentation required to access the Introvoke API. It contains information on how to create Companies, add events to each company and manage the presenters.
  termsOfService: https://www.introvoke.com/terms/
  contact:
    email: support@introvoke.com
  version: 1.0.0
servers:
- url: https://api.introvoke.com/api/v1
security:
- bearerAuth: []
tags:
- name: company theme fonts
paths:
  /customizations/events/company/{companyId}/fonts:
    get:
      description: Returns list of customized fonts associated with the company
      tags:
      - company theme fonts
      parameters:
      - in: path
        name: companyId
        required: true
        description: Unique ID of the company
        schema:
          type: string
      responses:
        '200':
          description: list of custom fonts associated with company
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFontInfo'
        '404':
          description: Company ID is incorrect or user does not have access to the company
    post:
      description: Add new fonts for the company. The value is stored at the company level, but can be used by customization themes on both event and company levels. If the name of the font, matches the existing font, it will update the font URL.
      tags:
      - company theme fonts
      parameters:
      - in: path
        name: companyId
        required: true
        description: Unique ID of the companyId
        schema:
          type: string
      requestBody:
        description: The new company font to upload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyFontInfo'
      responses:
        '202':
          description: Font accepted and committed to data store
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
        '400':
          description: Incorrect format for the font schema
        '404':
          description: Company ID is incorrect or user does not have access to the company
  /customizations/events/company/{companyId}/fonts/font/{fontId}:
    delete:
      description: Unregister the specified font associated with the specified company.
      tags:
      - company theme fonts
      parameters:
      - in: path
        name: companyId
        required: true
        description: Unique ID of the company
        schema:
          type: string
      - in: path
        name: fontId
        required: true
        description: Unique ID of the registered font
        schema:
          type: string
      responses:
        '200':
          description: Font unregistered from the company.
        '404':
          description: Company or Font Id is incorrect or user does not have access to the company.
components:
  schemas:
    CompanyFontInfo:
      type: object
      properties:
        uid:
          type: string
        fontName:
          type: string
        fontUrl:
          type: string
        isIntrovokeManaged:
          type: boolean
      additionalProperties: false
      required:
      - fontName
      - fontUrl
      - isIntrovokeManaged
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
