openapi: 3.2.0
info:
  title: Introvoke event theme overrides API
  description: This is the documentation required to access the Introvoke API. It contains information on how to create Companies, add events to each company and manage the presenters.
  termsOfService: https://www.introvoke.com/terms/
  contact:
    email: support@introvoke.com
  version: 1.0.0
servers:
- url: https://api.introvoke.com/api/v1
security:
- bearerAuth: []
tags:
- name: event theme overrides
paths:
  /customizations/events/event/{eventId}:
    delete:
      description: Deletes the event customization theme overrides for the event. All events default to company specific event customization theme, if it exists or the default platform theme, after deletion.
      tags:
      - event theme overrides
      parameters:
      - in: path
        name: eventId
        required: true
        description: Unique ID of the event
        schema:
          type: string
      responses:
        '200':
          description: Theme overrides for the event removed from the data store.
        '404':
          description: Event Id is incorrect or user does not have access to the event.
      summary: Delete customizations events event by event id
      x-summary-source: derived
      operationId: deleteCustomizationsEventsEventByEventId
      x-operation-id-source: derived
    get:
      description: 'Returns the event customization theme overrides over the platform and event company customization theme for the event.

        This endpoint can be used for clients which update to theme or for preview.'
      tags:
      - event theme overrides
      parameters:
      - in: path
        name: eventId
        required: true
        description: Unique ID of the event
        schema:
          type: string
      - in: query
        name: fullTheme
        description: flag to return full theme merged with overrides
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: event customization theme overrides (or full theme) at applied at event level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrovokeEventTheme'
      summary: Get customizations events event by event id
      x-summary-source: derived
      operationId: getCustomizationsEventsEventByEventId
      x-operation-id-source: derived
    post:
      description: 'Adds or updates event customization theme overrides that will be applied for the event.

        This endpoint can be used by clients which update to theme or for preview.'
      tags:
      - event theme overrides
      parameters:
      - in: path
        name: eventId
        required: true
        description: Unique ID of the event
        schema:
          type: string
      requestBody:
        description: The part of event customization theme to override in default platform and company theme.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntrovokeEventTheme'
      responses:
        '202':
          description: Theme overrides accepted and committed to data store.
        '400':
          description: Theme overrides did not match the expected schema.
        '404':
          description: Event ID is incorrect or user does not have access to the event.
      summary: Create customizations events event by event id
      x-summary-source: derived
      operationId: postCustomizationsEventsEventByEventId
      x-operation-id-source: derived
components:
  schemas:
    IntrovokeEventTheme:
      type: object
      properties:
        name:
          type: string
        defaultTheme:
          type: boolean
        brandColors:
          type: array
          items:
            type: string
          maxItems: 3
          minItems: 2
        fonts:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              fontName:
                type: string
              fontUrl:
                type: string
              isPrimary:
                type: boolean
            required:
            - fontName
            - fontUrl
            - isPrimary
            additionalProperties: false
        virtualStage:
          type: object
          properties:
            background:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            watermark:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            countdown:
              type:
              - object
              - 'null'
              properties:
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            presenter:
              type:
              - object
              - 'null'
              properties:
                glowColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        networkingHub:
          type: object
          properties:
            circleGraphics:
              type:
              - object
              - 'null'
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            joinNetworking:
              type:
              - object
              - 'null'
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            returnToStage:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        warningNotices:
          type: object
          properties:
            buttonColor:
              type:
              - string
              - 'null'
          additionalProperties: false
        chat:
          type: object
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            colors:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - 'null'
            badge:
              type: object
              properties:
                backgroundColor:
                  type:
                  - string
                  - 'null'
                imageUrl:
                  type:
                  - string
                  - 'null'
                textColor:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        participantList:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
              deprecated: true
            showTabFor:
              type:
              - number
              - 'null'
              description: Expects a number for the user role. 0 - Host, 1 - Host & Presenter, 2 - Everyone
            showCountFor:
              type:
              - number
              - 'null'
              description: Expects a number for the user role. 0 - Host, 1 - Host & Presenter, 2 - Everyone
          additionalProperties: false
        qna:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        polls:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        privateMessages:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        poweredByIntrovokeLabel:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
          additionalProperties: false
        chatReactions:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            reactions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  reaction:
                    type: string
                  image:
                    type: string
                  label:
                    type:
                    - string
                    - 'null'
                maxItems: 7
                required:
                - reaction
                - image
                additionalProperties: false
          additionalProperties: false
        liveReactions:
          type:
          - object
          - 'null'
          properties:
            enabled:
              type:
              - boolean
              - 'null'
            reactions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  reaction:
                    type: string
                  image:
                    type: string
                  label:
                    type:
                    - string
                    - 'null'
                maxItems: 7
                required:
                - reaction
                - image
                additionalProperties: false
          additionalProperties: false
        emailSettings:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
            name:
              type: string
            when:
              type: string
            replayToEmail:
              type:
              - string
              - 'null'
            fromEmail:
              type:
              - string
              - 'null'
            fromName:
              type:
              - string
              - 'null'
            isCustom:
              type: boolean
            activated:
              type: boolean
            emailTemplate:
              type: object
              properties:
                name:
                  type: string
                subject:
                  type:
                  - string
                  - 'null'
                hoursToWait:
                  type:
                  - number
                  - 'null'
                htmlBody:
                  type:
                  - string
                  - 'null'
                sendGridTemplateId:
                  type:
                  - string
                  - 'null'
                bodyText:
                  type:
                  - string
                  - 'null'
      additionalProperties: false
      required:
      - name
      - defaultTheme
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
